body {
    background-color: #ccc;
}
.clear {clear: both;}     
.all {
    width: 96%;
    margin: 0 auto;
    background-color: #dff;
}
.header {
    background-color: #369;
    color: #ffc;
    border-radius: 4px;
}
header {
    text-align: right;
    padding: 5px;
}
header h1 {
    margin-top: 5px;
    margin-bottom: 0px;
    margin-right: 5px;
}
header h2 {
    margin-bottom: 5px;
    margin-right: 5px;
}
.main {
    padding-left: 5px;
    width: 95%;
    min-width: 300px;
    margin: 0 auto;
}        
.main h3 {
    margin-bottom: 5px;
}
textarea {
    background-color: #000;
    color: #fff;
    font: 16px/1.2 monospace;
    overflow: auto;
    white-space: pre;
    border-radius: 8px;
    width: 95%;
    resize: vertical;
    border: solid 2px white;
    
}
.main input {
    width: 90px;
    font-size: 16px;
    margin: 10px 0px;
    border-radius: 7px;
    font-weight: bold;  
}
#inRun {
    background-color: #396;
    color: #ffc;            
}
#inReset {
    background-color: #936;
    color: #ffc;
}
.definitions {
    width: 57%;
    min-width: 300px;
    background-color: #fff;
    padding: 0px 10px;
    border: solid black 2px; 
    border-radius: 10px;
    margin: 0 auto;  
}
.definitions pre {
    overflow: auto;
    word-wrap: break-word;
}
.footer {
    background-color: #369;
    color: #ffc;
    border-radius: 4px;
}        
footer {
    text-align: center;
    padding: 5px 0px;
}